html {
    --color1: #C4DFDF;
    --color2: #D2E9E9;
    --color3: #E3F4F4;
    --color4: #F8F6F4;
    --color5: #000000;
    --color6: #bfc5c5;
    --color7: #2f3229;
    --color8: #494e3b;
    --color9: #3e4136;
    --color10: #4d4739;
    --color11: #dfdfdf;
    --color12: #3a3c33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color2 {
    animation: slideInRight 1s ease-out;
    animation-timeline: view(90vh 0vh);
}

.heading {
    position: relative;
    z-index: -1;
    animation: fadeIn 1s ease-out;
    animation-timeline: view(80vh 0vh);
}

.album {
    animation: slideInBottom 1s ease-out;
    animation-timeline: view(90vh 0vh);
}

@keyframes slideInRight {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    10% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.color1 {
    background-color: var(--color1);
}

.color2:hover {
    background-color: var(--color2);
}

.color2,
.color3,
.color3hov:hover {
    background-color: var(--color3);
}

body {
    background-color: var(--color4);
}

body,
a {
    color: var(--color5);
}

.color3hov:hover,
.color2:hover {
    box-shadow: 0px 3px 10px var(--color6);
    transform: scale(1.03);
}

.color1,
.color2,
.color3,
.color3hov,
body,
a {
    transition: all .3s ease, color .1s ease;
}

#head {
    font-size: 2em;
}

header {
    text-align: center;
    height: fit-content;
    padding: 10px;
}

.img,
.headimg {
    width: 35px;
    position: fixed;
    right: 10px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.img {
    top: 10px;
}

.headimg {
    bottom: 10px;
}

.album,
#light,
#uplight {
    display: none;
}

.container {
    text-align: center;
    margin: 2vmin 7vmin;
}

main p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 2vmin;
}

main h1 {
    font-size: 1.7em;
    margin-top: 2vmin;
}

#about,
.album {
    padding: 2vmin 3vmin;
    border-radius: 30px;
    margin: 2vmin 0vmin;
}

#AUR {
    width: 100%;
    max-width: 800px;
    border-radius: 30px;
    padding: 1vmin;
}

#cards {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
}

.card {
    display: grid;
    grid-template-rows: 180px 20px;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.card img {
    width: 290px;
    border-radius: 20px;
}

.card h3 {
    font-size: 1.2em;
}

h2 {
    padding: 15px;
}

.lyrics p {
    text-align: center;
}

.iframediv {
    margin: 1vmin auto;
    width: 80vmin;
    height: 45vmin;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#link {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#link li {
    list-style-type: none;
    width: 260px;
    border-radius: 30px;
}

#link a {
    display: block;
    height: 100%;
    font-weight: bold;
    padding: 15px;
}

a {
    text-decoration: none;
}

footer {
    position: relative;
    height: 200px;
    text-align: center;
}

#footer p {
    margin: 10px;
    margin-bottom: 20px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer li {
    display: inline-block;
    margin: 3vh 2vw;
}

@media only screen and (max-width: 425px) {
    .card img {
        width: 290px;
    }

    .card {
        padding: 15px;
        grid-template-rows: 175px 15px;
    }

    #cards {
        gap: 20px;
    }

    audio {
        width: 70vmin;
    }

    .card,
    #about,
    .album {
        border-radius: 20px;
    }

    iframe,
    .card img,
    #AUR {
        border-radius: 15px;
    }
}

@media only screen and (max-width: 350px) {
    .card img {
        width: 245px;
    }

    .card {
        grid-template-rows: 147px 15px;
    }
}
